.contact__options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
}
.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);

}
.contact__option-icon{
font-size: 1.5rem;
margin-bottom: 0.5rem;
}