.portafolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portafolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portafolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portafolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portafolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portafolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .portafolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

  }
  @media screen and (max-width: 600px) {
    .portafolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

  }
